@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome Our Store</h1>
</div>

<div class="text-center">
    <p>Click here to browse the <a href="/Products">Store Page</a>.</p>
</div>